<div class="container">
  <div class="signup_container">
    Not a member?  Sign up now!
  <div class="signup_btn">
    <form class="form signup-form">
      <div class="form-group ">
        <button class="signup hvr-sweep-to-top banner_btn" onclick="location.href='/signup'">Sign up</button>
      </div>
    </form>
  </div>
</div>

<div class="login_container">
  <div class="login_signup">
    <!--<div class=" col-sm-12 col-md-6 col-lg-3">-->
      <h2>Login</h2>

      <form class="form login-form">
        <div class="form-group form_to_right">
          <label for="email-login"></label>
          <input class="form-input" type="text" placeholder="Email" id="email-login" />
        </div>
        <div class="form-group form_to_right">
          <label for="password-login"></label>
          <input class="form-input" type="password" placeholder="Password" id="password-login" />
        </div>
        <div class="form-group login_div">
          <button class="banner_btn hvr-sweep-to-top" style="font-size: 1em;" type="submit">Login</button>      
       
      </form>
    <!--</div>  end div for col-->
  </div><!--end div for row-->
</div><!--end div for container-->

</div>


<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>