<div class="container">
  <div class="signup_container">
  <div class="signup_btn">
    <form class="form signup-form">
      <div class="form-group">
        <button class="signup banner_btn" onclick="location.href='/signup'">Sign up</button>
      </div>
    </form>
  </div>
</div>

<div class="login_container">
  <div class="login_signup">
    <!--<div class=" col-sm-12 col-md-6 col-lg-3">-->
      <h2>Login....</h2>

      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>      
       
      </form>
    <!--</div>  end div for col-->
  </div><!--end div for row-->
</div><!--end div for container-->

</div>


<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>