<div class="container">

        <div class="signup_pic">
            <div class="signup_intro">Only a few steps away!</div>
            <div class="picture1"></div>
            <div class="picture2"></div>
            <div class="picture3"></div>
        
        
        
        </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <h2>Sign up</h2>

        <form class="form signup-form">

            <div class="form-group">
                <label for="first_name-signup"></label>
                <input class="form-input" type="text" placeholder="First Name" id="first_name-signup" />
            </div>

            <div class="form-group">
                <label for="last_name-signup"></label>
                <input class="form-input" type="text" placeholder="Last Name" id="last_name-signup" />
            </div>

            <div class="form-group">
                <label for="email-signup"></label>
                <input class="form-input" type="text" placeholder="Email" id="email-signup" />
            </div>

            <div class="form-group">
                <label for="password-signup"></label>
                <input class="form-input" type="password" placeholder="Password" id="password-signup" />
            </div>

            <div class="form-group">
                <label for="age-signup"></label>
                <input class="form-input" type="age" placeholder="Age" id="age-signup" />
            </div>

            <div class="form-group">
                <label for="city-signup"></label>
                <input class="form-input" type="text" placeholder="City" id="city-signup" />
            </div>

            <div class="form-group">
                <label for="hobbies-signup"></label>
                <input class="form-input" type="text" placeholder="Hobbies" id="hobbies-signup" />
            </div>

            <div class="form-group">
                <label for="preferred_pronoun-signup">Preferred Pronoun</label>
                <select id="preferred_pronoun-signup" class="form-input" name="preferred_pronoun">
                    <option value=""></option>
                    <option value="He/Him">He/Him</option>
                    <option value="She/Her">She/Her</option>
                    <option value="They/Them">They/Them</option>
                    <option value="other">Other</option>
                </select>
                <!--<input class="form-input" type="text" id="preferred_pronoun-signup" />-->
            </div>

           

            <div class="form-group">
                <label for="dating_friendship-signup">Dating or Friendship</label>
                <select class="form-input" name="dating_friendship" id="dating_friendship-signup">
                    <option value=""></option>
                    <option value="dating">Dating</option>
                    <option value="friendship">Friendship</option>
                </select>
            </div>

            <div class="form-group">
                <label for="interested_in-signup">Interested In</label>
                <select class="form-input" name="interested_in" id="interested_in-signup">
                    <option value=""></option>
                    <option value="He/Him">He/Him</option>
                    <option value="She/Her">She/Her</option>
                    <option value="They/Them">They/Them</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="form-group">
                <label for="beers_name-signup">Beers</label>
                <select name="Beer Preference" id="beers_name-signup">
                <option value=""></option>
                <option value="IPA">IPA</option>
                <option value="American Lager">American Lager</option>
                <option value="Lager">Lager</option>
                <option value="Stout">Stout</option>
                <option value="Cider">Cider</option>
                <option value="Saison">Saison</option>
                <option value="Kolsh">Kolsh</option>
                <option value="Pale Ale">Pale Ale</option>
                <option value="Brown Ale">Brown Ale</option>

                </select>
            </div>

            <div class = "form-group">
                <label for="user_image-signup"> Select an Image</label>
                <input type= "file" id= "user_image-signup" name="user_image-signup">
            </div>



            <div class="form-group">
                <button class="banner_btn hvr-sweep-to-top" type="submit" style="font-size: 1em;">Sign up</button>
            </div>
        </form>

    </div>
</div>

<script src="/js/signup.js"></script>