<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;1,200&display=swap" rel="stylesheet">
    <title>MixNMatch</title>
</head>
<body>
    <header class="primaryHeader">
        <button class="log_in primary" onclick="location.href='/login'">Log in</button>
        <button class="signup primary" onclick="location.href='/signup'">Sign up</button>
    </header>
    
 
        {{#if logged_in}}
        <header class="banner"> 
                <div class="banner">
        <button class="log_out banner_btn" id="logout">Log Out</button> 
        <button class="log_in banner_btn" onclick="location.href='/login'">Log in</button>
        <button class="signup banner_btn" onclick="location.href='/signup'">Sign up</button>
                </div>
        </header>        
        {{/if}}

    <main>
         <div class="container-sm title">Mix n Match
             <div class="reviews">
             
                        <marquee class="welcome_info container-sm">
                            Join today to get in touch with your future drinking buddies!
                        </marquee>

                    <div class="info_pic container-sm">
                    
                        {{{ body }}}
                    </div>

             </div>
         </div>   
    </main>
   
<footer class="footer">
    <div class="container">
           <div class="row">
               <div class="col-sm-12 col-med-6 col-lg-3">
                    About | Contact | FAQ
               </div>
           </div> 
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>   
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>



