body,
html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.stack.imgur.com/7YKUD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: rgb(248, 231, 164, 0.6);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
}

/* Buttons */
.btn {
  height: fit-content;
  width: fit-content;
}
.banner_btn {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  font-size: 0.5em;
}

.log_in {
  margin: 5px;
}
.signup {
  margin-bottom: 2px;
  font-size: 1em;
  height: 38px;
}
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 10%;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #a36a01;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*End of button styling*/

.jumbotron {
  background: rgb(248, 231, 164, 0.6);
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
.logo_title {
  display: flex;
  flex-direction: row;
}
.head_text {
  height: 5%;
  margin: 5%;
  text-align: center;
  font-size: xx-large;
  opacity: 65%;
}
.login_div {
  padding-top: 15px;
}
/*suggested match styling*/
.matches_container {
  display: grid;
  grid-gap: var(--base-padding);
  padding: var(--base-padding);
  width: 100%;
  max-width: 1000px;
  height: fit-content;
}
.match {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  font-family: var(--text-font);
  color: #2f2f2f;
}

.match_card {
  width: 6em;
  margin-top: 0;
  font-size: 2.4em;
  padding: 0.5em;
  font-weight: normal;
  height: fit-content;
  margin: 0.5em;
  background-color: rgb(159, 106, 7);
  color: rgb(255, 248, 220);
  border-radius: 15px;
  display: flex;
  box-shadow: 10px 5px 5px rgb(90, 59, 1);
}

.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*card styles for possible matches*/
.card {
  max-width: 18rem;
}

.name_photo {
  padding: 0.5rem;
  text-align: center;
  width: auto;
}

.circle {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  border: solid;
  box-shadow: 10px 5px 5px rgb(90, 59, 1);
}
/* Cheers buttons */
.cheers {
  align-items: center;
}
.like {
  text-align: center;
  font-size: 0.75rem;
  margin-top: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

span {
  text-align: center;
  align-items: center;
  font-size: 0.9rem;
  line-height: 1.6;
  width: auto;
}
.beer_preference {
  width: auto;
  font-size: 0.8rem;
}
.pronoun {
  font-size: 1;
  color: rgb(255, 248, 220);
  width: auto;
}

/*login page from Jimmy*/

.logout {
  float: right;
}
.lead {
  margin-top: 5px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.signup_container {
  width: 40%;
  padding: 3px;
}
.login_container {
  width: 50%;
  padding: 3px;
  display: flex;
  flex-direction: row-reverse;
}
.login_signup,
.login-form {
  display: flex;
  flex-direction: column;
}
.signup_btn {
  margin-bottom: 5px;
}

.form {
  align-items: center;
  text-align: center;
}
.logo {
  background-image: url("https://api.freelogodesign.org/files/e38d9e9cff73417e8ffabd8dbc4f1841/thumb/logo_200x200.png?v=637679566910000000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 130px;
  border: 2px;
  margin: 5%;
  border-style: double;
  box-sizing: border-box;
  border-radius: 70%;
  opacity: 120%;
  align-items: center;
}

.signup_intro {
  width: 75%;
  text-align: center;
}
.signup_form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.signup_pic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.picture1 {
  background-image: url("https://vinepair.com/wp-content/uploads/2016/05/Happiness-Soc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 225px;
  box-sizing: border-box;
  border-radius: 50%;
}

.picture2 {
  background-image: url("https://i.insider.com/5bfe8b2848eb120f3e05b322?width=750&format=jpeg&auto=webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 225px;
  box-sizing: border-box;
  border-radius: 50%;
}
.form-group_btn {
  padding-top: 5px;
  align-items: center;
}

/* delete styling */
.delete_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

/*footer styling*/
.footer {
  text-align: center;
  margin: 3px;
  margin-top: 100%;
  left: 0px;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: rgb(248, 231, 164, 0.6);
}
